<div class="container" id="teacher-container" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="form">
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fas fa-search"></i>
            </div>
          </div>
          <form class="form-inline my-2 my-lg-0">
            <input type="search" (ngModelChange)="searchTeachers(key.value)" #key="ngModel" ngModel name="key"
                   id="searchName" class="form-control mr-sm-2" placeholder="Search teachers..." required>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
            <table matSort (matSortChange)="sortTeachers($event)" class="table table-hover">
              <thead>
              <tr>
                <th mat-sort-header="id">#&nbsp;</th>
                <th mat-sort-header="firstName">First Name</th>
                <th mat-sort-header="lastName">Last Name</th>
                <th mat-sort-header="email">Email</th>
                <th mat-sort-header="subject">Subject</th>
                <th scope="col" class="text-center">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let teacher of sortedTeachers">
                <th scope="row">{{teacher.id}}</th>
                <td>{{teacher.firstName}}</td>
                <td>{{teacher.lastName}}</td>
                <td>{{teacher.email}}</td>
                <td>{{teacher.subject}}</td>
                <td class="text-center">
                  <button class="btn btn-sm btn-primary" title="Edit">
                    <a (click)="onOpenModal(teacher, 'edit')" class="text-white">
                      <i class="fas fa-user-edit"></i>
                    </a>
                  </button>
                  <button class="btn btn-sm btn-warning" title="Show teachers">
                    <a routerLink="/teachers/{{teacher.id}}" class="text-white">
                      <i class="fas fa-list"></i>
                    </a>
                  </button>
                  <button class="btn btn-sm btn-danger" title="Delete">
                    <a (click)="onOpenModal(teacher, 'delete')" class="btn btn-success" data-toggle="modal">
                    <i class="fas fa-user-minus"></i>
                    </a>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <a class="btn btn-primary mb-3" (click)="onOpenModal(null, 'add')">Add Teacher</a>
        </div>
  <mat-paginator [length]="100"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 aria-label="Select page">
  </mat-paginator>
</div>




      <!-- Add Teacher Modal -->
      <div class="modal fade" id="addTeacherModal" tabindex="-1" role="dialog" aria-labelledby="addTeacherModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addTeacherModalLabel">Add Teacher</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form #addForm="ngForm" (ngSubmit)="onAddTeacher(addForm)">
                <div class="form-group">
                  <label for="fistName">First Name</label>
                  <input type="text" ngModel name="firstName" class="form-control" id="fistName" placeholder="First name" required>
                </div>
                <div class="form-group">
                  <label for="lastname">Last Name</label>
                  <input type="text" ngModel name="lastName" class="form-control" id="lastname" placeholder="Last name" required>
                </div>
                <div class="form-group">
                  <label for="email">E-Mail</label>
                  <input type="email" ngModel name="email" class="form-control" id="email" placeholder="E-Mail" required>
                </div>
                <div class="form-group">
                  <label for="age">Age</label>
                  <input type="number" ngModel name="age" class="form-control" id="age" placeholder="Age" required>
                </div>
                <div class="form-group">
                  <label>Subject</label>
                  <select name="subject" ngModel="JAVA" class="form-control" required>
                    <option value="JAVA">JAVA</option>
                    <option value="PYTHON">PYTHON</option>
                    <option value="RUBY">RUBY</option>
                    <option value="JAVASCRIPT">JAVASCRIPT</option>
                  </select>
                </div>
                <div class="modal-footer">
                  <button type="button" id="add-teacher-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!--Edit Teacher Modal-->
      <div class="modal fade" id="updateTeacherModal" tabindex="-1" role="dialog" aria-labelledby="teacherEditModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="updateTeacherModalLabel">Edit Teacher {{editTeacher?.firstName + ' ' + editTeacher?.lastName}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form #editForm="ngForm">
                <div class="form-group">
                  <label for="editedFirstName">First Name</label>
                  <input type="text" ngModel="{{editTeacher?.firstName}}" name="firstName" class="form-control" id="editedFirstName" aria-describedby="emailHelp" placeholder="First name">
                </div>
                <input type="hidden" ngModel="{{editTeacher?.id}}" name="id" class="form-control" id="id" placeholder="Email">
                <div class="form-group">
                  <label for="editedLastName">Last Name</label>
                  <input type="text" ngModel="{{editTeacher?.lastName}}" name="lastName" class="form-control" id="editedLastName" aria-describedby="emailHelp" placeholder="Last name">
                </div>
                <div class="form-group">
                  <label for="editedLastName">E-Mail</label>
                  <input type="email" ngModel="{{editTeacher?.email}}" name="email" class="form-control" id="editedEmail" aria-describedby="emailHelp" placeholder="E-Mail">
                </div>
                <div class="form-group">
                  <label for="editedAge">Age</label>
                  <input type="number" ngModel="{{editTeacher?.age}}" name="age" class="form-control" id="editedAge" placeholder="Age">
                </div>
                <div class="form-group">
                  <label>Subject</label>
                  <select name="subject" ngModel="{{editTeacher?.subject}}" class="form-control" required>
                    <option value="JAVA">JAVA</option>
                    <option value="PYTHON">PYTHON</option>
                    <option value="RUBY">RUBY</option>
                    <option value="JAVASCRIPT">JAVASCRIPT</option>
                  </select>
                </div>
                <div class="modal-footer">
                  <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                  <button (click)="onUpdateTeacher(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Delete Teacher Modal -->
      <div class="modal fade" id="deleteTeacherModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModelLabel">Delete Teacher</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete teacher {{deleteTeacher?.firstName}}?</p>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button (click)="onDeleteTeacher(deleteTeacher?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Notification for no teachers -->
      <div *ngIf="teachers.length == 0" class="col-lg-12 col-md-12 col-xl-12">
        <div class="alert alert-info" role="alert">
          <h4 class="alert-heading">NO TEACHERS!</h4>
          <p>No teachers were found.</p>
        </div>
      </div>
