<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h2>Student Teachers</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="text-center">
        <p>First Name: {{currentStudent.firstName}}</p>
        <p>Last Name: {{currentStudent.lastName}}</p>
        <p>Email: {{currentStudent.email}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-hover" ng-if="ctrl.assignments.length">
        <thead>
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Subject</th>
          <th scope="col" class="text-center">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let teacher of teachers">
          <td>{{teacher.firstName}}</td>
          <td>{{teacher.lastName}}</td>
          <td>{{teacher.email}}</td>
          <td>{{teacher.subject}}</td>
          <td class="text-center">
            <button class="btn btn-sm btn-warning text-white" title="Zwróć"
                    ng-if="!assignment.end" ng-click="ctrl.finishAssignment(assignment)">
              <i class="fas fa-undo-alt"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="teachers.length == 0" class="col-lg-12 col-md-12 col-xl-12">
        <div class="alert alert-info" role="alert">
          <h4 class="alert-heading">NO TEACHERS!</h4>
          <p>No teachers were found.</p>
        </div>
      </div>
    </div>
  </div>
</div>
